.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.photo-and-name {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 4vh;
}

.contacts-info li a{
    text-decoration: none;
    color: blue;
}

section {
    display: flex;
}

.summary {
    flex-direction: column;
}

.summary p {
    margin-bottom: 0.5vh;
    text-indent: 3vh;
}